.css-gs44re-MuiTypography-root {
    border-radius: 5px 5px 0 0;
    padding-bottom: 12px;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 10px;
    color: #fff;
    background-color: var(--default-color);
}