@import '../../../global.scss';

// breadcrumb
.breadcrumb-container {
  display: flex;
  align-items: center;
  padding: 1px 0;
  background-color: $bg-breadcrumb;

  .p-breadcrumb {
    display: contents;
    font-size: 15px;

    .p-breadcrumb-list {
      padding-left: 0;
      padding-top: 7px !important;
    }

    .p-menuitem-link {
      text-decoration: none;

      .p-menuitem-icon {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .p-menuitem-text {
      color: #868c97;
    }
  }
}

.breadcrumb-page {
  .p-menuitem-text {
    color: $prime-color !important;
  }
}
