@import '../../../global.scss';

// Freeship Card
.bg-Freeship {
  color: $prime-voucher-f-text;

  .card-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid $prime-voucher-f;
  }

  .btnGet {
    background-color: $prime-voucher-f;
    border-color: $prime-voucher-f;

    &:hover {
      background-color: $prime-voucher-f-hover;
    }
  }
}

// Order Card
.bg-discountByOrder {
  color: $prime-voucher-o-hover;
  .card-left {
    border-right: 1px solid $prime-voucher-o;
  }

  .btnGet {
    background-color: $prime-voucher-o;
    border-color: $prime-voucher-o;

    &:hover {
      background-color: $prime-voucher-o-hover;
    }
  }
}

// Category Card
.bg-discountByCategory {
  color: $prime-voucher-c-hover;
  .card-left {
    border-right: 1px solid $prime-voucher-c;
  }

  .btnGet {
    background-color: $prime-voucher-c;
    border-color: $prime-voucher-c;

    &:hover {
      background-color: $prime-voucher-c-hover;
    }
  }
}

// Card content
.card-vouchers {
  background-color: white;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(220, 219, 219);

  .card-left {
    padding: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 20px;
    }

    .name {
      font-size: 17px;
      font-weight: 600;
    }
  }

  .card-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px;
    font-size: 15px;
    font-weight: 600;

    .text {
      font-weight: 400;
    }

    .btnGet {
      border-radius: 5px;
      width: 50px;
      font-size: 14px;
    }
  }

  .card-btn {
    padding: 0 17px;
    justify-content: center;
    display: flex;
    align-items: center;

    // GET

    .claimed {
      font-size: 14px;
      font-weight: 600;
    }

    // BELONG
    .btnUse {
      border-radius: 5px;
      font-size: 12px;
    }

    // Common
    .btnCancel {
      border-radius: 5px;
      font-size: 10px;
      background-color: rgb(230, 126, 16);
      border-color: rgb(230, 126, 16);
    }
  }
}
