@import '/global.scss';

.store-system-container {
  margin-top: 20px;
  margin-bottom: 40px;

  .store-system-row {
    margin-top: 20px;
  }
  .link-email {
    color: black;
    text-decoration: none;
    &:hover {
      color: $btn-bgColor-hover;
    }
  }
}
