$prime-color: #1cc0a0;
$btn-color: #1bb092;
$btn-bgColor-hover: #1d8772;
$color-check: #20a590;
$btn-color-hover: white;

// Login color
$first-color: #26c1a9;
$second-color: #8fc9c0;

// Link
$text-link: #3ac4e3;

// breadcrumb
$bg-breadcrumb : #e8e8e8;

// Prime Color - Voucher
$prime-voucher-f: #20bfdf;
$prime-voucher-f-text: #21b9d8;
$prime-voucher-f-hover: #0891b2;

$prime-voucher-o: #f98d98;
$prime-voucher-o-hover: #f84d5e;

$prime-voucher-c: #f8b76c;
$prime-voucher-c-hover: #ea993c;


// Font Global
// .poppins-regular {
//   font-family: 'Poppins', sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }

// body{
//   font-family: 'Poppins', sans-serif;
// }
