
.filter {
    .p-dropdown {
        width: 100%;
    }

    .p-dropdown-label {
        font-size: 12px;
    }
}

.loading-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}