@import '../../../../global.scss';

.menu-container {
  width: 100%;
  background-color: #484646;
  position: relative;
  font-size: 16px;

  .page-right-container {
    display: flex;
    padding: 10px 0;
    align-items: center;

    .items {
      font-weight: 500;
      padding: 0 25px;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover {
          color: $prime-color;
        }

        .name {
          cursor: pointer;
        }

        .arrowitem {
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }

    .subcategories {
      position: absolute;
      background-color: #484646;
      color: white;
      top: 49px;
      padding: 10px;
      width: 116px;

      .url-categories {
        text-decoration: none;
        color: white;

        .name {
          cursor: pointer;
  
          &:hover {
            color: $prime-color;
          }
        }
      }

      
    }

    .url {
      text-decoration: none;
    }
  }

  .col-search-left {
    display: flex;
    justify-content: center;
    align-items: center;

    .p-inputgroup {
      display: flex;
      align-items: center;

      .inputgroup {
        height: 30px;
        font-size: 12px;

        &:focus {
          box-shadow: none;
          border-color: $prime-color;
        }
      }

      .btnSearch {
        height: 30px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $prime-color;
        border-color: $prime-color;

        &:hover {
          background-color: $btn-bgColor-hover;
        }
      }
    }
  }
}
