@import '../../../../global.scss';

.menu-container {
  width: 100%;
  background-color: #484646;
  position: relative;
  font-size: 16px;


  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: position 0.3s ease-in-out;
  }

  .category {
    display: flex;
    justify-content: space-between;
    background-color: $prime-color;
    align-items: center;
    color: white;
    padding: 10px 10px;
    position: relative;
    height: 100%;

    .content {
      font-weight: 600;
      display: flex;
      align-items: center;
      cursor: pointer;

      .title {
        font-size: 16px;
      }

      .icon {
        font-size: 18px;
      }
    }

    .arrowitem {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-left: 80px;
    }
  }

  .categoryItem {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;

    .item {
      color: rgb(55, 55, 55);
      padding: 7px 0;
      padding-left: 20px;
      cursor: pointer;
      border-bottom: 0.5px solid rgb(239, 237, 237);

      &:hover {
        color: $prime-color;
      }

      &:not(:last-child) {
        margin-bottom: 0; /* Loại bỏ khoảng cách dưới item, không có margin dưới phần tử cuối cùng */
      }

      .name {
        color: black;
        
        font-weight: 500;
      }
    }
  }

  .categoryItem {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;

    .item {
      color: rgb(55, 55, 55);
      padding: 7px 0;
      padding-left: 20px;
      cursor: pointer;
      border-bottom: 0.5px solid rgb(239, 237, 237);

      &:hover .name {
        color: $prime-color;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  .page-container {
    display: flex;
    padding: 10px 0;

    .item {
      font-weight: 500;
      padding: 0 25px;
      display: flex;
      align-items: center;

      .url {
        text-decoration: none;
        .name {
          cursor: pointer;
          color: white;
          

          &:hover {
            color: $prime-color;
          }
        }
      }
    }
  }

  .save-container {
    display: flex;
    color: white;
    justify-content: end;
    font-weight: 600;
    align-items: center;
  }
}
