@import '../../../../global.scss';

.menu-container {
  width: 100%;
  background-color: #484646;
  position: relative;
  font-size: 16px;

  .page-right-container {
    display: flex;
    padding: 10px 0;
    align-items: center;

    .items {
      display: flex;
      // flex-direction: column;
      font-weight: 500;
      // padding: 0 25px;
      padding-left: 20px;

      &:first-child {
        padding-left: 4px;
      }

      .item {
        margin: 0 !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        color: white;
        cursor: pointer;

        &:hover {
          color: $prime-color;
        }

        .arrowitem {
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }

    .subcategories {
      position: absolute;
      background-color: white;
      color: white;
      top: 49px;
      width: 10%;

      .url-categories {
        text-decoration: none;
        color: black;

        .subcategory {
          padding: 5px 0;

          &:hover {
            color: white;
            background-color: $prime-color;
          }

          .name {
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }

    .url {
      text-decoration: none;
    }
  }

  .col-search-left {
    display: flex;
    justify-content: end;
    align-items: center;

    .inputgroup {
      height: 34px;
      font-size: 14px;

      &:hover {
        border-color: $prime-color;
      }

      &:focus {
        box-shadow: none;
        border-color: $prime-color;
      }
    }
  }
}
