@import '../../../global.scss';

.container-login {
  display: flex;
  background-color: white;
  padding: 0;
  max-width: 900px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    position: relative;
    transition: transform 0.6s ease-in-out;
  }

  .form-container {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.6s ease-in-out;

    // Login form
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      text-align: center;
      background: linear-gradient(90deg, $second-color, $btn-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 2px;
        background: linear-gradient(90deg, $second-color, $btn-color);
      }
    }

    /* Form login */
    .form-content {
      .input-group {
        margin-bottom: 20px;
        text-align: left;

        label {
          display: block;
          margin-bottom: 8px;
          color: $btn-color;
          font-weight: bold;
        }

        input {
          height: 45px;
          border: 2px solid $first-color;
          transition:
            border-color 0.3s ease,
            background-color 0.3s ease,
            box-shadow 0.3s ease;
          line-height: 1.5;
          font-size: 16px;
          color: #333;
          outline: none;
          width: 100%;
          padding: 15px;
          transition: border-color 0.3s ease;

          &:focus {
            border-color: $second-color;
            outline: none;
          }
        }

        input::placeholder {
          color: #888;
          opacity: 1;
        }

        .input-enter {
          border-radius: 10px !important;
        }
      }
    }

    // Checkbox remember me

    /* Button */
    button {
      margin-top: 10px;
      width: 100%;
      padding: 15px;
      background: linear-gradient(135deg, $second-color 0%, $first-color 100%);
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
      transition:
        background 0.3s ease,
        transform 0.2s;

      &:hover {
        background: linear-gradient(135deg, $first-color 0%, $second-color 100%);
        transform: translateY(-3px);
      }
    }

    .footer-text {
      text-align: center;
      margin-top: 10px;
      color: #666;

      a {
        color: $first-color;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.remember-container {
  .remember-me {
    accent-color: $color-check;
    width: 16px;
    height: 16px;
    border-radius: 5px !important;
  }

  label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }
}
