@import '../../../../global.scss';

.header-img {
  position: relative;
  width: 100% !important;

  .img-card {
    object-fit: cover;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 157px;
    padding: 2px;
    margin: 0;
    width: 100%;
  }

  .badge {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: $btn-color;
    padding: 5px;
    color: white;
    font-size: 10px;
    border-radius: 4px;
  }

  .card-product .p-card-header {
    padding: 0 !important;
  }
}

.card-product {
  .p-card {
    width: 95%;
    height: 293px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .p-card-body {
    padding: 0.8rem;

    // Card title
    .p-card-title {
      display: flex;
      align-items: center;
      height: 34px;
      font-weight: 500;

      cursor: pointer;
      font-size: 13px;

      a {
        text-decoration: none;
        color: black;
      }
    }

    // Card sub title
    .p-card-subtitle {
      cursor: pointer;
    }

    // Card Btn
    .card-btn {
      display: flex;
      justify-content: space-between;
      gap: 5px;

      .btncart {
        color: $btn-color;
        border-color: $btn-color;
        background-color: white;
        border-radius: 5px;
        font-size: 10px;
        width: 30%;
        padding: 0;
        margin: 0;

        &:hover {
          background-color: $btn-bgColor-hover;
          color: $btn-color-hover;
        }
      }

      .btn-buynow {
        background-color: $btn-color;
        border: $btn-color;
        border-radius: 5px;
        font-size: 10px;
        width: 70%;

        &:hover {
          background-color: $btn-bgColor-hover;
          color: $btn-color-hover;
        }
      }
    }

    // Card content
    .p-card-content {
      padding: 0 2px;
      margin: 0;

      .card-price-sale {
        display: flex;
        align-items: center;
        justify-content: end;

        p {
          text-align: right;
          margin-bottom: 0.6rem;
        }

        .price-base {
          font-size: 10px;
          text-decoration: line-through;
        }

        .price-sale {
          color: $btn-color;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .card-price {
        p {
          text-align: right;
          font-size: 16px;
          margin-bottom: 0.6rem;
        }
      }
    }

    .p-card-footer {
      padding: 0;
    }
  }
}
