$primary-color: #1cc0a0;
$background-color: #f5f5f5;

.checkout-completed-master {
  background-color: $background-color;

  .checkout-completed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;
    border-radius: 8px;

    img.checkout-image {
      height: 400px;
      width: 400px;
      object-fit: cover; // Đảm bảo hình ảnh giữ tỷ lệ
    }

    .content-checkout-completed {
      margin-left: 20px; // Đặt khoảng cách giữa hình ảnh và nội dung
      display: flex;
      flex-direction: column;
      justify-content: center; // Căn giữa nội dung theo chiều dọc so với ảnh
      text-align: left;

      h1 {
        font-size: 2.5rem;
        color: $primary-color;
        margin-bottom: 15px;
        font-weight: bold;
      }

      .order-number {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 25px;
        strong {
          color: $primary-color;
          font-weight: bold;
        }
      }

      .btn-view-order {
        display: inline-block;
        padding: 12px 20px;
        background-color: $primary-color;
        color: white;
        font-size: 12px;
        font-weight: 600;
        width: 170px;

        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition:
          background-color 0.3s,
          transform 0.2s;

        &:hover {
          background-color: darken($primary-color, 10%);
          transform: scale(1.05);
        }
      }
    }
  }
}
