@import "./assets/styles/layout.scss";

:root {
  --default-color: #{#14b8a6}; /* Ánh xạ biến SCSS sang biến CSS */
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
ul {
  padding-left: 0!important;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--default-color);
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}