@import '../../../global.scss';

.main {
  font-size: 14px;

  // Banner header
  .banner {
    margin-bottom: 0;
  }
  .btn-outline-white-3 {
    border: 1px solid white !important;
    color: white !important;
    padding: 12px !important;
    font-size: 16px !important;

    &:hover {
      color: black !important;
      border: 1px solid white !important;
      background-color: white !important;
    }
  }

  .member {
    margin-top: 30px;
  }

  // boxes container
  .icon-boxes-container {
    h3 {
      font-weight: 600;
    }
  }

  //   best seller
  .heading-left {
    .title {
      font-weight: 600;
    }
  }

  .heading-right {
    justify-content: end;
    display: flex;

    .title-link {
      text-decoration: none;
      color: gray;
      font-size: 16px;
      font-weight: 400;
      &:hover {
        color: $prime-color;
      }
    }
  }

  .block {
    margin-top: 24px;
  }

  .product-container-card {
    margin-top: 32px;
    background-color: #f8f9fa;
    padding: 12px 0;

    .title {
      font-weight: 600;
      color: $prime-color;
      padding-bottom: 5px;
    }

    .titleSmall {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .row-btn-see-more {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .url-see-more {
      width: 117px;

      .btn-see-more {
        border-color: $btn-color;
        border-radius: 5px;
        color: $btn-color;
      }
    }
  }
}
