@import '/global.scss';

.container-master-account {
  background-color: $prime-bgColor-Pages;
  padding: 100px 0;
  height: 100vh;

  .container-account {
    background-color: white;
    width: 1305px;
    padding: 24px 20px 0px 20px;

    .row-my-profile {
      border-bottom: 1px solid gainsboro;

      .myProfile {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .sub-myProfile {
        font-size: 14px;
        color: gray;
        margin-bottom: 20px;
      }
    }

    .row-my-profile-content {
      margin-top: 10px;
      font-size: 16px;
      padding: 20px 0;
      color: gray;

      .col-avatar {
        border-right: 1px solid gainsboro;
        text-align: center;

        .avatar-img {
          width: 160px;
          height: 160px;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .btn-avatar {
          width: 172px;
          border-radius: 5px;
          font-size: 14px;
          padding: 8px 20px;
          background-color: $btn-color;
          border-color: $btn-color;

          &:hover {
            background-color: $btn-bgColor-hover;
            border-color: $btn-bgColor-hover;
          }
        }

        .btn-logout {
          width: 172px;
          border-radius: 5px;
          font-size: 14px;
          padding: 7px 20px;
          background-color: rgb(177, 4, 4);
          border-color: rgb(199, 3, 3);

          &:hover {
            background-color: rgb(151, 1, 1);
            border-color: rgb(199, 3, 3);
          }
        }

        .btn-change-pass {
          border-radius: 5px;
          font-size: 14px;
          padding: 7px 20px;
          background-color: rgb(255, 179, 0);
          border-color: rgb(255, 179, 0);

          &:hover {
            background-color: rgb(228, 129, 0);
            border-color: rgb(228, 129, 0);
          }
        }
      }

      .col-profile-content {
        display: grid;
        justify-content: start;
        .profile-group {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          p {
            text-align: end;
            padding-right: 30px;
            width: 200px;
            font-size: 18px;
            margin: 0;
          }

          .p-inputtext-sm {
            width: 400px;
            &:hover {
              border-color: $prime-color;
            }

            &:focus {
              box-shadow: 0 0 0 0.2rem rgba(28, 192, 160, 0.25); /* Hiệu ứng đổ bóng khi focus */
              border-color: $prime-color;
              outline: $prime-color;
            }
          }

          .btn-save {
            margin-left: 5px;
            border-radius: 5px;
            font-size: 14px;
            padding: 7px 20px;
            background-color: $btn-color;
            border-color: $btn-color;

            &:hover {
              background-color: $btn-bgColor-hover;
              border-color: $btn-bgColor-hover;
            }
          }
        }
      }
    }
  }
}

.profile-group-dialog {
  display: flex;
  align-items: center;

  p {
    width: 200px;
    font-size: 14px;
  }

  .p-inputtext-sm {
    width: 100%;
    font-size: 12px;
    box-shadow: none;

    &:focus {
      border-color: $prime-color;
    }

    &:hover {
      border-color: $prime-color;
    }
  }

  .btn-update-dialog {
    background-color: $btn-color;
    border-color: $btn-color;
    font-size: 12px;
    border-radius: 5px;
  }
}
