@import '/global.scss';

.container-all-books-content-skeleton {
  background-color: $prime-bgColor-Pages;
  padding-top: 10px;
  padding-bottom: 30px;

  .container-all-books-content-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px ;
  }
}

.container-all-books-content {
  background-color: $prime-bgColor-Pages;
  padding-top: 10px;
  padding-bottom: 30px;

  .content-category-product {
    background-color: white;
    margin: 20px;
    padding: 0 0 20px 0;
    border-radius: 10px;

    .category-name-container {
      background-color: $prime-color;
      padding:20px 20px 20px 30px;
      border-radius: 5px 5px 0 0 ;
      color: #fff;

      .category-name {
        font-size: 20px;
        font-weight: 600;
      }
    }

    // Content
    .block {
      margin-bottom: 20px;
      padding: 0 20px 20px 20px;
      border-radius: 10px;

      .heading {
        padding: 10px 0;
        // border-bottom: 1px solid gainsboro;

        .title {
          font-size: 16px;
          font-weight: 600;
          color: $btn-color;
        }

        .title-link {
          text-decoration: none;
          color: gray;
          font-size: 14px;

          &:hover {
            color: $btn-color;
          }
        }
      }
    }
  }
}

.no-products-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #999; /* Light gray color */
}
.large-input {
  font-size: 1.5rem !important; /* Điều chỉnh kích thước chữ */
  padding: 0.5rem; /* Điều chỉnh khoảng cách bên trong ô */
}
.search-container{
  margin-top: 30px;
}