@import '../../../global.scss';

.container-all-books {
  background-color: $prime-bgColor-Pages;

  .img-all-books {
    width: 100%;
    object-fit: cover;
  }

  .container-all-books-content {
    // Content
    .block {
      background-color: white;
      margin-bottom: 20px;
      padding: 0 20px;
      border-radius: 10px;

      .heading {
        padding: 10px 0;
        border-bottom: 1px solid gainsboro;

        .title {
          font-size: 20px;
          font-weight: 600;
          color: $btn-color;
        }

        .title-link {
          text-decoration: none;
          color: gray;
          font-size: 14px;

          &:hover {
            color: $btn-color;
          }
        }
      }
    }
  }
}
