.btn-general {
  background-color: var(--default-color);
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: var(--default-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--default-color), 0.25);
    color: #fff;
  }
}
.btn-icon {
  border-radius: 5px ;
  cursor: pointer;
  &:hover {
    background-color:  var(--default-color);
    color: #fff;
  }
}
.btn-delete {
  border-radius: 5px ;
  &:hover {
    background-color:  red;
    cursor: pointer;
    color: #fff;
  }
}
.btn-disable {
  opacity: .5;
  pointer-events: none;
  &:hover {
    background-color: unset;
    color: unset;
  }
}