@import "variable";
@import "helper";

$default-color:$cyan;
.theme-layout {
  @import "button";
  font-size: 12px;
  .container-content {
    //margin-top: 4rem;
    .row .menu-part, .row .content.part {
      padding: 0;
    }
  }
  .layout-admin {
    width: 100%;
    margin-top: 4rem;

  }
  .default-layout {
    display: flex;
    .content-layout {

    }
  }

  @import "top-bar";
  @import "menu-side";
  @import "main";
  @import "modal";
}

