.top-bar-admin {
  z-index:999 ;
  font-size: 16px;
  background-color: #fff;
  height: 4rem;
  padding: 0 2rem;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 0;
  .top-bar-contanier {
    height: 100%;
    .top-bar-item {
      overflow: hidden;
      display: flex;
      align-items: center;
      .logo-img {
        width: 300px;
        position: absolute;
      }
      .top-bar-item-info {
        cursor: pointer;
      }
    }
    .menu {
      gap: 10px;
      font-weight: 600;
      text-transform: uppercase;
      .item-nav.active {
        background-color:  var(--default-color);
        color: #fff!important;
      }
      .item-nav {
        height: 40px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color:  rgba(var(--default-color), 0.7);
          color: #fff!important;
        }
      }
    }
  }
  .top-bar-content-left {
    padding: 8px;
    color: $black;
    transition: 0.2s;
    border: $gray-300 1px solid;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 4rem);
    right: 0;
    display: none;
    min-width: 360px;
    overflow: hidden;
    .header {
      height: 20%;
    }
    .body {
      height: 60%;
    }
    .footer {
      height: 10%;
    }

    .bottom {
      position: absolute;
      bottom: 10px;
      height: 10px;
      background-color: $primary;
    }
  }
  .top-bar-content-left.show {
    opacity: 1;
    display: block;
  }
}